body {
    margin:0;
    margin-left:5%;
    width: 95vw;
    height: 97vh;
    display: grid;
    grid-template-rows: 20fr 1fr 1fr;
}

#game-container {
    display: grid;
    width: 90%;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 1fr 1fr; */
    justify-items: center;
    align-items: center;
    width: 90%;
    margin-top: 5px;
}

#scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin-top: 5px;
}

.box {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#start-button {
    padding: 0;
    width: 100%;
    height: 100%;
}

#inputs {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}
.input {
    height: 90%;
    width:45%;
    padding: 0;
}

